* {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
     background-color:#091D34 
}

#winnerStatus {
    font-size:2em;
    text-align: center;
    color:white;
    width:10vw;
    border: 1px white solid;
    margin-top: 5vh;
    margin-bottom:32.7vh;
}
h1 {
    display:inline-block;
    color:white;
}
h2{
    color:white;
}
h3{
    color:white;
}

#head1 {
    color: white;
    margin-top: 1vh;
    font-size: 60px;
}

#h1-1{
    font-size: 40px;
}

.grid_container {
    display:grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns:repeat(3, 1fr);
    width:45vw;
    position:absolute;
    top:5vh;
    left:35vw;
}

.grid_item {
    border:2px solid white;
    width:15vw;
    height:30vh;
    color:rgb(255, 255, 255);
    font-size:10vw;
    text-align:center;
    line-height: 16vw;
}
.openBoard {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.innerGrid {
    display:inline-block;
    border:1px solid #2369B8;
    width:5vw;
    height:10vh;
    margin:0;
    font-size:4vw;
    line-height: 4vw;
}

.grid_container1 {
    display:flex;
    grid-template-rows:1;
    grid-template-columns:repeat(3, 1fr);
    width: 22vw;
    position:absolute;
    left:-2vw;
    bottom:50vh;
    top:35vh;
    padding:2vw;
    justify-items:center;
    margin-top:29vh;
}

.grid_item1 {
    border:2px solid rgb(255, 255, 255);
    width:7vw;
    height:6vw;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-align:center;
    line-height: 6vw;
    margin-top: 5vh;
}

#resetbtn {
    width:8vw;
    height:3.5vw;
    border-radius:30px;
    color:white;
    background-color:#133863;
    border:4px solid white;
    font-size:1.5em;
    
}
#resetbtn:hover {
    box-shadow:0px 0px 0px 1px #133863;
}

#instructions{
    background-color: white;
    width:45vw;
    height:40vh;
    font-size:36px;
    text-align: center;
    padding:15px;
}
#instructions-container{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(255,255,255,10%);
    justify-content: center;
    align-items: center;
    display:flex;
    visibility:visible;
    z-index:100;
}
#blurred1{
    filter:blur(1.5rem);
}
#blurred2{
    filter:blur(1.5rem);
}
/************************** COLORS & IMAGES *********************/

#h1-1, #h1-3, #winnerStatus {
    color:#133863;
}
#h1-2, #p1s, #p2s {
    color: white;
}
#p1s, #p2s {
    border-color:#133863;
    color: #133863
}

#p3s {
    border-color:white;
    color:#fff;
}

#winnerStatus {
    border-color:white;

}

#pnames1 {
    color:white;
    font-size: 26px;
}

#pnames2 {
    color:#133863;
    font-size: 26px;
}

#cselect {
    margin-top:6vh;
    color:white;
}

#pcharacters1 {
    color:#133863;
}

#pcharacters2 {
    color:white;
}

input[type=text] {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
}

#flexbox {
    position: absolute;
    width: 22vw;
    margin-left: 0vw;
    text-align: center;
    flex-direction:column;
}
#sidenavBG {
    background-color:#2369B8;
    height:100vh;
}
#resetbtn {
    margin-top: 1vh;
    
}
#startbtn{
    width:8vw;
    height:3.5vw;
    border-radius:30px;
    color:white;
    background-color:#133863;
    border:4px solid white;
    font-size:1.5em;
}

#xCharacter {
    border: 3px solid black;
    border-radius: 60px;
    width: 70px;
    height:70px;
    text-align: center;
    font-size:30px;
}

#oCharacter {
    border: 3px solid black;
    border-radius: 10px;
    border-radius: 60px;
    width: 70px;
    height:70px;
    text-align: center;
    font-size:30px;
}
#close{
    height:6vh;
    width:12vw;
    border-radius:30px;
    font-size:1.5rem;
    margin-top:2vh;
    border: none;
    background-color: #2369B8;
    color: #fff;
}
#close:hover {
    background-color: #133863;
    color: rgb(194, 197, 201);
}
#tttgrid{
    filter:blur(1.5rem);
}

@media(max-width:580px){
* {
    margin:0;
}
.grid_container {
    position:fixed;
    left:40px;
    top:3px;
}
.grid_item {
    width:27vw;
    height:16vh;
}
.innerGrid {
    width:9vw;
    height:5vh;
}
#instructions{
        font-size:2vh;
    }
#close{
    height:4vh;
    width:20vw;
    margin-top: 0vh;
}
#flexbox{
max-height:50vh;
display:flex;
float:bottom;
overflow:hidden;
margin-top:50vh;
width:100vw;
}
.names{
    float:left;
}
.chars{
float:left;
}
#scoreboard{
    margin-top:51vh;
    width:100vw;

}
#pcharacters1{
    margin-top:-5vh;
}
#pcharacters2{
    margin-top:-5vh;
    margin-left:3vw;
}
#head1{
margin:none;
    text-align:left;
}
#startbtn{
width:25vw;
height:5vh;
}
#resetbtn{
width:25vw;
height:5vh;
    }
#cselect{
    visibility: hidden;
}
#winnerStatus{
    overflow:hidden;
    width:40vw;
    margin-right:30vw;
    font-size: 3vh;
    margin-top:2vh;
}
.namesBox {
    /* border:1px solid white; */
    display:inline-block;
    position:relative;
}
#charSelect {
    margin:0;
    float:right;
    width:30vw;
    height:12vh;
    /* border:1px solid white; */
}
#charSelect h3 {
    margin:0;
}
.innerCharSel {
    /* border:1px solid white; */
    width:14vw;
    height:12vh;
    display:inline-block
}
#p1s{
    width:60vw;
    height:5vh;
}
#p2s{
    width:60vw;
    height:5vh;
}
#p3s{
    width:100vw;
    height:5vh;
}

}