* {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(0, 0, 0);
}

#winnerStatus {
    font-size:2em;
    text-align: center;
    color:white;
    width:10vw;
    border: 1px white solid;
    margin-top: 3vh
}
h1 {
    display:inline-block;
    color:white;
}
h2{
    color:white;
}
h3{
    color:white;
}

#head1 {
    color: green;
    margin-top: 1vh;
}

.grid_container {
    display:grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns:repeat(3, 1fr);
    width:45vw;
    position:fixed;
    top:6vh;
    left:35vw;
}

.grid_item {
    border:2px solid white;
    width:16vw;
    height:16vw;
    color:rgb(255, 255, 255);
    font-size:10vw;
    text-align:center;
    line-height: 10vw;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}

.gridA {
    display:inline-block;
    border:1px solid green;
    width:5vw;
    height:5vw;
    margin:0;
    font-size:4vw;
    line-height: 4vw;
}

.grid_container1 {
    display:grid;
    grid-template-rows:1;
    grid-template-columns:repeat(3, 1fr);
    width: 22vw;
    position:fixed;
    left:-2vw;
    bottom:50vh;
    top:35vh;
    padding:2vw;
    justify-items:center;
    /* border:2px solid black; */
}

.grid_item1 {
    border:2px solid rgb(255, 255, 255);
    width:7vw;
    height:6vw;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-align:center;
    line-height: 6vw;
    margin-top: 5vh;
}

#reset {
    width:8vw;
    height:3.5vw;
    left:56vw;
    border-radius:30px;
    color:green;
    background-color:red;
    border:4px solid green;
    font-size:1.5em;
    
}
#reset:hover {
    box-shadow:0px 0px 0px 1px red;
}

#instructions{
    background-color: white;
    width:40vw;
    height:40vh;
    font-size:36px;
    
}
#instructions-container{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(255,0,0,25%);
    justify-content: center;
    align-items: center;
    display:flex;
    visibility:visible;
    float:left;
    z-index:100;
}
#blurred1{
    filter:blur(1.5rem);
}
#blurred2{
    filter:blur(1.5rem);
}
/************************** COLORS & IMAGES *********************/

#h1-1, #h1-3, #winnerStatus {
    color:red;
}
#h1-2, #p1s, #p2s {
    color: green;
}
#p1s, #p2s {
    border-color:red;
    color: red
}

#p3s {
    border-color:green;
    color:green;
}

#winnerStatus {
    border-color:green;

}

#pnames1 {
    color:green;
}

#pnames2 {
    color:red;
}

#cselect {
    color:green;
}

#pcharacters1 {
    color:red;
}

#pcharacters2 {
    color:green;
}

input[type=text] {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
}

#flexbox {
    position: fixed;
    width: 22vw;
    height: 100%;
    margin-left: 0vw;
    text-align: center;
    background-color: #fff;
}

#resetbtn {
    margin-top: 1vh;
    
}

#xCharacter {
    border: 3px solid black;
    border-radius: 10px;
    width: 50px;
}

#oCharacter {
    border: 3px solid black;
    border-radius: 10px;
    width: 50px;
}

/* #tree {
    position:fixed;
    left:4vw;
    top:15vh;
    height:70vh;
}
#tree1 {
    position:fixed;
    right:4vw;
    top:15vh;
    height:70vh;
} */


